<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Hello, World!</title>
	<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<h2>TO-DO List2</h2>
	<input type="button" value="New task"/>
	<table>
    <tr th:each="iterator: ${lista}">
        <td th:text="'Task id ' + ${iterator.id}"/>
		<td th:text="${iterator.description}"/>
		<td id="value" th:text="${iterator.task_status}"/>
		<td>
			<select id="task_status" name ="task_status">
				<option value ="In progress">In progress</option>
				<option value ="Pending">Pending</option>
				<option value ="Finished">Finished</option>
			</select>
		</td>
		<td><input type="button" value="Delete"/></td>
	</tr>
	</table>
	<script th:inline="javascript">	
		let element = document.querySelectorAll("#task_status");
		$(document).ready(()=>{
		$(element[0]).val(/*[[${lista[0].getTask_status()}]]*/ '');
		}); 
		$(document).ready(()=>{
		$(element[1]).val(/*[[${lista[1].getTask_status()}]]*/ '');
		});
		$(document).ready(()=>{
		$(element[2]).val(/*[[${lista[2].getTask_status()}]]*/ '');
		});
	</script>
</body>
</html>
